/* 游戏容器样式 */
#game-container {
    display: grid;
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
}

/* 笑脸图片的基础样式 */
.face {
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    border: 1px solid transparent;
}

/* 消息提示元素的基础样式 */
#message {
    text-align: center;
    margin-top: 10px;
    display: none;
}

/* 倒计时计时器的基础样式 */
#timer {
    text-align: center;
    margin-top: 5px;
}

/* 媒体查询 - 针对小屏幕设备 */
@media (max-width: 767px) {
    #game-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

/* 媒体查询 - 针对中等屏幕设备 */
@media (min-width: 768px) and (max-width: 1199px) {
    #game-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

/* 媒体查询 - 针对大屏幕设备 */
@media (min-width: 1200px) {
    #game-container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

/* 游戏按钮的CSS样式 */
#start-button {
    padding: 8px 15px; /* 减小按钮内部空间 */
    font-size: 14px; /* 减小字体大小 */
    color: #fff; /* 字体颜色保持不变 */
    background-color: #4CAF50; /* 背景颜色保持不变 */
    border: none; /* 无边框 */
    border-radius: 3px; /* 减小圆角半径 */
    cursor: pointer; /* 鼠标悬停效果保持不变 */
    transition: background-color 0.3s ease, transform 0.1s ease; /* 添加transform渐变效果 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 添加轻微的阴影效果 */
  }
  
  #start-button:hover {
    background-color: #45a049; /* 鼠标悬停时的背景颜色保持不变 */
    transform: translateY(-2px); /* 轻微提升按钮，制造按下效果 */
  }
  
  #start-button:active {
    transform: translateY(1px); /* 当按钮被按下时，向下移动一点 */
    box-shadow: 0 1px 3px rgba(0,0,0,0.2); /* 阴影稍微减小 */
  }
  
  #start-button:focus {
    outline: none; /* 移除聚焦时的默认轮廓 */
    box-shadow: 0 0 0 2px #333; /* 聚焦时的阴影效果，更加精致 */
  }